{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div class="">
        <h1>Hello World ! ✅</h1>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for art in articles %}
            <div class="col">
                <div class="card">
                    <img src="{{ asset('uploads/'~ art.images[0]) }}" width="100" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ art.name }}</h5>
                        <p class="card-text">{{ art.description|raw }}</p>
                    </div>
                    <add-btn id="{{ art.id }}"
                            name="{{ art.name }}"
                            :pprix="{{ art.price }}"
                            images="{{ art.images|join }}"/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}